<ul>
  <li><a href='<%= root_path %>'>Dashboard</a></li>
  <li><a href='/clients'>Clients</a></li>
  <li><a href='/houses'>Listings</a></li>
  <li><a href='/'>Transactions</a></li>
  <li><a href='/vendors'>Vendors</a></li>
  <li><a href='/'>Forms</a></li>
  <li><a href='/'>Tutorial</a></li>
</ul>
