<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action='/events/' method='POST'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

          <label for='summary'>Name</label>
          <input type='text' name='summary'><br>

          <label for='description'>Description</label>
          <input type='text' name='description'><br>


          <input type='hidden' name='start_time' id='start_time'>
          <input type='hidden' name='end_time' id='end_time'>



          <input type='hidden' name='calendar_id' value='gh5u69dlkdv6gu72391n3hhb7o@group.calendar.google.com'>

          <input type='submit'>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
