<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action='/events/' method='POST'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <div class='form-group'>
          <label for='summary'>Name</label>
          <input type='text' name='summary' class='form-control'><br>
        </div>

        <div class='form-group'>
          <label for='description'>Description</label>
          <input type='text' name='description' class='form-control'><br>
        </div>

          <input type='hidden' name='start_date' id='start_date'>
          <input type='hidden' name='end_date' id='end_date'>

          <input type='hidden' name='start_time' id='start_time'>
          <input type='hidden' name='end_time' id='end_time'>



          <input type='hidden' name='calendar_id' value='tcf1uk9h37avimj2k9qfvulhtc@group.calendar.google.com'>

          <input type='submit' class='btn-primary'>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
