

<h1>Hello <%= @user.first_name %></h1>


<h3>ToDo List</h3>
<!-- ADD TODO LIST -->

<div id="calendar"></div>
<div id='remote_control'>
  <div id='event_adder'></div>
</div>

<script>
  makeCal();
</script>
