<h1>Hello <%= @user.first_name %></h1>

<%= render 'partials/navigation' %>

<h3>ToDo List</h3>
<!-- ADD TODO LIST -->


<iframe src="https://calendar.google.com/calendar/embed?title=My%20Tasks&amp;showDate=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ctable150%40gmail.com&amp;color=%23711616&amp;src=fhb09qcehohc8mkdm29l48j93k%40group.calendar.google.com&amp;color=%232952A3&amp;src=m23oi69q8rq7tc1iq3fivpusf8%40group.calendar.google.com&amp;color=%23182C57&amp;src=lep4ale0jmkv35dkim6bqnag5k%40group.calendar.google.com&amp;color=%2316572c&amp;src=k5kihqutjqb1i4v3fdp0tonrh8%40group.calendar.google.com&amp;color=%23711616&amp;src=q62u5ipid7kkjallu66mc0gb2k%40group.calendar.google.com&amp;color=%23844699&amp;src=23d43hdj0qhenfeb81hgf91cn8%40group.calendar.google.com&amp;color=%23bcb8b8&amp;src=fgi2oho92nq2en5vaprsg272j8%40group.calendar.google.com&amp;color=%23125A12&amp;src=ttohg6d94hen89q3o6f2290oh4%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=jd8satd21hthlnsdp50rl3c2k4%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
