<%= render 'partials/navigation' %>

<p>Please be aware that creating a new User allows them access to your database, your data, and any other information you have stored within this application. Only give access to people you trust and legally have the right to!</p>

<form action='/users' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

  <label for='user[username]'>Username</label>
  <input type='text' name='user[username]'>

  <label for='user[password]'>Password</label>
  <input type='password' name='user[password]'>

  <label for='user[password_confirmation]'>Password</label>
  <input type='password' name='user[password_confirmation]'>

  <input type='submit' value='Submit'>

</form>
